In [1]:
import pandas as pd

In [2]:
df= pd.read_csv("C:\\Users\\USER\\Desktop\\myleak\\databreach.csv")
df.head()

,Unnamed: 0,Entity,Year,Records,Organization type,Method,Sources
0,0,21st Century Oncology,2016,2200000,healthcare,hacked,[5][6]
1,1,500px,2020,14870304,social networking,hacked,[7]
2,2,Accendo Insurance Co.,2020,175350,healthcare,poor security,[8][9]
3,3,Adobe Systems Incorporated,2013,152000000,tech,hacked,[10]
4,4,Adobe Inc.,2019,7500000,tech,poor security,[11][12]

In [3]:
df

,Unnamed: 0,Entity,Year,Records,Organization type,Method,Sources
0,0,21st Century Oncology,2016,2200000,healthcare,hacked,[5][6]
1,1,500px,2020,14870304,social networking,hacked,[7]
2,2,Accendo Insurance Co.,2020,175350,healthcare,poor security,[8][9]
3,3,Adobe Systems Incorporated,2013,152000000,tech,hacked,[10]
4,4,Adobe Inc.,2019,7500000,tech,poor security,[11][12]
...,...,...,...,...,...,...,...
347,347,Zynga,2019,173000000,social network,hacked,[406][407]
348,348,Unknown agency(believed to be tied to United S...,2020,200000000,financial,accidentally published,[408]
349,349,National Health Information Center (NCZI) of S...,2020,391250,healthcare,poor security,[409]
350,350,50 companies and government institutions,2022,6400000,various,poor security,[410] [411]
351,351,IKEA,2022,95000,retail,accidentally published,[412]

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 352 entries, 0 to 351
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         352 non-null    int64
 1   Entity             352 non-null    object
 2   Year               352 non-null    object
 3   Records            350 non-null    object
 4   Organization type  352 non-null    object
 5   Method             351 non-null    object
 6   Sources            350 non-null    object
dtypes: int64(1), object(6)
memory usage: 19.4+ KB

In [5]:
numerical_colns = df.select_dtypes(include=['float64','int64']).columns
print("numerical: ",numerical_colns)

numerical:  Index(['Unnamed: 0'], dtype='object')

In [6]:
df.dtypes

Unnamed: 0            int64
Entity               object
Year                 object
Records              object
Organization type    object
Method               object
Sources              object
dtype: object

In [7]:
df = df.drop(columns=['Unnamed: 0'])

In [8]:
df.columns = df.columns.str.lower().str.replace(' ', '_')

In [9]:
df.head()

,entity,year,records,organization_type,method,sources
0,21st Century Oncology,2016,2200000,healthcare,hacked,[5][6]
1,500px,2020,14870304,social networking,hacked,[7]
2,Accendo Insurance Co.,2020,175350,healthcare,poor security,[8][9]
3,Adobe Systems Incorporated,2013,152000000,tech,hacked,[10]
4,Adobe Inc.,2019,7500000,tech,poor security,[11][12]

In [10]:
print(df.isnull().sum())

entity               0
year                 0
records              2
organization_type    0
method               1
sources              2
dtype: int64

In [12]:
print(df.duplicated(subset=['entity', 'year']).sum())

3

In [13]:
df = df.drop_duplicates(subset=['entity', 'year'], keep='first')

In [14]:
print(df.duplicated(subset=['entity', 'year']).sum())

0

In [48]:
df['records'] = pd.to_numeric(df['records'], errors='coerce')
df['records'] = df['records'].fillna(0).astype('int64')

In [47]:
df['year'] = pd.to_numeric(df['year'], errors='coerce')
df['year'] = df['year'].fillna(0).astype('int64')

In [49]:
numerical_colns = df.select_dtypes(include=['float64','int64']).columns
print("numerical: ",numerical_colns)

numerical:  Index(['year', 'records'], dtype='object')

In [50]:
df['records'].fillna(df['records'].median(), inplace=True)

C:\Users\USER\AppData\Local\Temp\ipykernel_16756\3825019888.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['records'].fillna(df['records'].median(), inplace=True)

In [56]:
#standardize organization_type and method values
df['organization_type'] = df['organization_type'].str.lower().str.strip().replace(' ', '_').replace({
        'social_networking': 'social_media',
        'social_network': 'social_media',
    })

df['method'] = df['method'].str.lower().str.strip().replace(' ', '_').replace({
        'poor_security': 'misconfiguration',
        'accidentally_published': 'leak'
    })

In [57]:
df.head()

,entity,year,records,organization_type,method,sources
0,21st Century Oncology,2016,2200000,healthcare,hacked,[5][6]
1,500px,2020,14870304,social_media,hacked,[7]
2,Accendo Insurance Co.,2020,175350,healthcare,misconfiguration,[8][9]
3,Adobe Systems Incorporated,2013,152000000,tech,hacked,[10]
4,Adobe Inc.,2019,7500000,tech,misconfiguration,[11][12]

In [24]:
print(df.isnull().sum())

entity               0
year                 0
records              0
organization_type    0
method               1
sources              2
dtype: int64

In [28]:
# null -> unknown
df['method'] = df['method'].fillna('unknown')

# null sources -> [uncited]
df['sources'] = df['sources'].fillna('uncited')

In [27]:
print(df.isnull().sum())

entity               0
year                 0
records              0
organization_type    0
method               0
sources              0
dtype: int64

In [37]:
df.dtypes

entity               object
year                  Int64
records               Int64
organization_type    object
method               object
sources              object
dtype: object

In [51]:
df = df.reset_index(drop=True)

In [62]:
df.to_csv("myleak_cleaned.csv", index=False)

In [61]:
df

,entity,year,records,organization_type,method,sources
0,21st Century Oncology,2016,2200000,healthcare,hacked,[5][6]
1,500px,2020,14870304,social_media,hacked,[7]
2,Accendo Insurance Co.,2020,175350,healthcare,misconfiguration,[8][9]
3,Adobe Systems Incorporated,2013,152000000,tech,hacked,[10]
4,Adobe Inc.,2019,7500000,tech,misconfiguration,[11][12]
...,...,...,...,...,...,...
344,Zynga,2019,173000000,social_media,hacked,[406][407]
345,Unknown agency(believed to be tied to United S...,2020,200000000,financial,leak,[408]
346,National Health Information Center (NCZI) of S...,2020,391250,healthcare,misconfiguration,[409]
347,50 companies and government institutions,2022,6400000,various,misconfiguration,[410] [411]
348,IKEA,2022,95000,retail,leak,[412]